In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd

In [40]:
dataset=pd.read_csv("insurance_pre.csv")

In [41]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [42]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [43]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [44]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [47]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [48]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [49]:
dependent=dataset[['charges']]

In [50]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [51]:

from sklearn.model_selection import train_test_split

In [52]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [53]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [54]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features':['auto','sqrt','log2'],
             'splitter':['best','random']}

grid = GridSearchCV(DecisionTreeRegressor(),param_grid, refit = True, verbose=3, n_jobs=-1)

#fitting thee model for grid search
grid.fit(x_train,y_train)

C:\Users\pavih\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done  39 out of  54 | elapsed:    2.3s remaining:    0.8s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    2.3s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [55]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(x_test)

# print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'random'}: 0.7038988735759503

In [56]:
 table=pd.DataFrame.from_dict(re)

In [57]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003632,0.000626,0.001673,0.001183,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.571302,0.702273,0.632609,0.635395,0.053505,8
1,0.002796,0.000557,0.002509,0.000000,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.565243,0.710977,0.609164,0.628461,0.061041,11
2,0.002675,0.000728,0.002663,0.000218,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.689366,0.720755,0.570253,0.660125,0.064828,3
3,0.001460,0.001213,0.000000,0.000000,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.616300,0.524241,0.508502,0.549681,0.047543,18
4,0.002339,0.003307,0.002339,0.003307,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.645861,0.688102,0.679090,0.671018,0.018165,2
5,0.003072,0.002227,0.002507,0.001152,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.591066,0.592577,0.615952,0.599865,0.011392,13
6,0.015905,0.001614,0.000000,0.000000,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.627260,0.637869,0.685948,0.650359,0.025535,6
7,0.012097,0.001469,0.000000,0.000000,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.579875,0.688367,0.695009,0.654417,0.052779,4
8,0.013139,0.002477,0.000000,0.000000,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.557012,0.603412,0.574711,0.578379,0.019119,16
9,0.009510,0.004637,0.000000,0.000000,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.586377,0.645051,0.550311,0.593913,0.039043,14
10,0.009489,0.005062,0.000000,0.000000,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.595295,0.703155,0.655935,0.651462,0.044147,5
11,0.012505,0.000000,0.005134,0.003630,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.600044,0.561917,0.619102,0.593688,0.023774,15
12,0.004168,0.005895,0.005134,0.003630,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.551072,0.715855,0.620671,0.629199,0.067542,10
13,0.006721,0.001385,0.001993,0.001425,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.663442,0.704948,0.661950,0.676780,0.019927,1
14,0.001675,0.001435,0.003242,0.000373,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.688026,0.478877,0.518172,0.561692,0.090761,17
15,0.004092,0.000975,0.000963,0.000681,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.578635,0.627706,0.660890,0.622410,0.033788,12
16,0.002075,0.002002,0.002985,0.001374,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.657140,0.632019,0.638509,0.642556,0.010647,7
17,0.002133,0.000528,0.002319,0.000302,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.630185,0.631355,0.638380,0.633307,0.003619,9

In [58]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:4
BMI:40
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [59]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the parameter ,play with it
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[63770.42801]

In [67]:
import pickle
filename="finalized_model_dtr-Grid.sav"

In [68]:
pickle.dump(regressor,open(filename,'wb'))

In [72]:
loaded_model=pickle.load(open("finalized_model_dtr-Grid.sav",'rb'))

In [73]:
result=loaded_model.predict([[16723.5,17823.5,1555,0,1,0,1]])

In [74]:
result

array([12592.5345])